* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #56a720;
    height: 100vh;
}

/* NAV */
.nav {
    width: 100%;
    height: 100px;
    background-color: rgb(59, 59, 59);
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}

.nav img {
    height: 85px;
    margin-right: 15px;
}

.nav p {
    font-size: 22px;
    font-weight: bold;
}

/* OVERLAY */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000000;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* LOGIN BOX */
.login-box {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 12px;
    border: none;
    background: #56a720;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.login-box button:hover {
    background: #4a941c;
}

.error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

/* ADMIN CONTENT */
.admin-content {
    background: #9acd32;
    padding: 40px 20px;
    border-radius: 0 0 30px 30px;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

.admin-inner {
    width: 100%;
    max-width: 900px;
}

/* Header row */
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.top-row h2 {
    font-size: 22px;
}

.member-count {
    font-size: 16px;
}





/* Form layout */
.form-grid {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.form-grid input {
    width: 160px;
    padding: 14px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

/* Buttons */
.action-buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 200px;
}

.action-buttons button {
    padding: 15px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.primary,
.secondary {
    background: #555;
    color: white;
}